<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDfYAXe4tC7zbyq482tdCzvSLS57Wvtc58</string>
	<key>GCM_SENDER_ID</key>
	<string>847258040957</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.base.app</string>
	<key>PROJECT_ID</key>
	<string>baseapp-2026</string>
	<key>STORAGE_BUCKET</key>
	<string>baseapp-2026.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:847258040957:ios:b6613cf6dae6aeb59b8f14</string>
</dict>
</plist>